<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY APP</title>
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/help">Instructions</a></li>
        </ul>
    </nav>
    <header>
        <h1>MY APP</h1>
    </header>
    <div class="top-container">
        <div class="file-input-container">
            <label for="file-input">Import csv file:</label>
            <input type="file" id="file-input" accept=".csv">
            <button id="run-btn">Import</button>
        </div>
        <div class="expression-toggle-container">
            <span>Add Expression Values:</span>
            <label>
                <input type="radio" name="expression" value="yes" id="expression-yes">
                <span>Yes</span>
            </label>
            <label>
                <input type="radio" name="expression" value="no" id="expression-no" checked>
                <span>No</span>
            </label>
        </div>
        <div class="expression-container" id="expression-container">
            <label for="expression-file-input">Import csv file:</label>
            <input type="file" id="expression-file-input" accept=".csv">
            <button id="expression-run-btn">Run expression values</button>
        </div>
        <div class="file-export-container">
            <button id="export-btn">Export as PNG</button>
        </div>
    </div>
    <div id="container">
        <aside id="sidebar">
            <div id="network-details" class="details-container">
                <h4>Details about the network</h4>
                <span id="node-count"></span>
                <span id="edge-count"></span>
            </div>
            <div class="sidebar-item">
                <div class="node-search-container">
                    <input type="text" id="node-search-input" placeholder="Search Node">
                    <button id="node-search-btn">Search</button>
                </div>
            </div>
            <button id="menu-btn">Configurations</button>
            <div id="configurations" class="configurations">
                <div id="layout-icons" class="sidebar-item">
                    <span>Layout type:</span>
                    <div class="layout-icon-group">
                        <span id="grid-icon" class="mdi mdi-dots-grid"></span>
                        <span id="circle-icon" class="mdi mdi-dots-circle"></span>
                        <span id="random-icon" class="fa fa-random"></span>
                    </div>
                </div>
                <div id="node-icons" class="sidebar-item">
                    <span>Node shape:</span>
                    <div class="node-icon-group">
                        <span id="circle-icon" class="mdi mdi-circle-outline"></span>
                        <span id="triangle-icon" class="mdi mdi-triangle-outline"></span>
                        <span id="rectangle-icon" class="mdi mdi-rectangle-outline"></span>
                        <span id="star-icon" class="mdi mdi-star-outline"></span>

                    </div>
                </div>
                <div class="sidebar-item">
                    <label for="node-size-slider">Node Size: </label>
                    <input type="range" id="node-size-slider" min="1" max="5" value="2">
                </div>
                <div class="sidebar-item">
                    <label for="style-select">Select pre-defined Style:</label>
                    <select id="style-select">
                        <option value="new">---</option>
                        <option value="default">Default</option>
                        <option value="molecule">Molecule</option>
                    </select>
                </div>
                <div class="sidebar-item">
                    <label for="font-color-picker">Font color:</label>
                    <input type="color" id="font-color-picker" value="#000000">
                </div>
                <div class="sidebar-item">
                    <label for="node-color-picker">Node color:</label>
                    <input type="color" id="node-color-picker" value="#666666">
                </div>
                <div class="sidebar-item">
                    <label for="edge-color-picker">Edge color:</label>
                    <input type="color" id="edge-color-picker" value="#cccccc">
                </div>
                <div class="sidebar-item">
                    <label for="bg-color-picker">Background Color:</label>
                    <input type="color" id="bg-color-picker" value="#f0f0f0">
                </div>

                
            </div>
        </aside>
        <main id="cy"></main>
    </div>
    <script src="cy.js" type="module"></script>
</body>
</html>
