<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetViewer</title>
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" aria-label="Home"><span class="mdi mdi-home"></span></a></li>
            <li><a href="/help" aria-label="Help"><span class="mdi mdi-head-question"></span></a></li>
        </ul>
    </nav>
    <header>
        <h1>NetViewer</h1>

    </header>
    <div class="top-container"></div>
    <div id="container">
        <aside id="sidebar">
            <span>Import</span>
            <div class="file-input-container">
                <div class="inline-form">
                    <label for="file-input">Graph</label>
                    <input type="file" id="file-input" accept=".csv" style="width: 190px" >
                    <button id="run-btn"><span class="mdi mdi-import"></span></button>
                </div>
            </div>
            <div class="file-input-container">
                <div class="inline-form">
                    <label for="file-input">Expression</label>
                    <input type="file" label= "import" id="expression-file-input" accept=".csv" style="width: 190px" >
                    <button id="expression-run-btn"><span class="mdi mdi-import"></span></button>
                </div>
            </div>
            <div id="network-details" class="details-container">
                <h4>Details about the network</h4>
                <span id="node-count"></span>
                <br>
                <span id="edge-count"></span>
                <div id="expression-details" style="display: none;">
                    <p id="highest-expression-node"></p>
                    <p id="lowest-expression-node"></p>
                </div>
            </div>
            <div class="sidebar-item">
                <div class="node-search-container">
                    <input type="text" id="node-search-input" placeholder="Search Node">
                    <button id="node-search-btn"><span class="mdi mdi-magnify"></span></button>
                </div>
            </div>
            <button id="menu-btn"><span class="mdi mdi-menu"></span></button>
            <div id="configurations" class="configurations">
                <div id="layout-icons" class="sidebar-item">
                    <label>Layout type:</label>
                    <div class="layout-icon-group">
                        <button class="btn" id="grid-icon"><i class="mdi mdi-dots-grid"></i></button>
                        <button class="btn" id="circle-icon"><i class="mdi mdi-dots-circle"></i></button>
                        <button class="btn" id="random-icon"><i class="fa fa-random"></i></button>
                    </div>
                </div>
                <div id="node-icons" class="sidebar-item">
                    <label>Node shape:</label>
                    <div class="node-icon-group">
                        <button class="btn" id="ellipse-icon"><i class="mdi mdi-circle-outline"></i></button>
                        <button class="btn" id="triangle-icon"><i class="mdi mdi-triangle-outline"></i></button>
                        <button class="btn" id="rectangle-icon"><i class="mdi mdi-rectangle-outline"></i></button>
                        <button class="btn" id="star-icon"><i class="mdi mdi-star-outline"></i></button>
                    </div>
                </div>
                <div class="sidebar-item">
                    <label for="node-size-slider">Proportional node size:</label>
                    <br>
                    <input type="range" id="node-size-slider" min="1" max="5" value="2">
                </div>
                <div class="sidebar-item">
                    <!-- <div class="inline-form"> -->
                        <label for="node-size-toggle">Connected node size:</label>
                        <div id="node-size-on" class="node-size-toggle-btn on">ON</div>
                        <div id="node-size-off" class="node-size-toggle-btn off">OFF</div>
                    <!-- </div> -->
                </div>                
                <div class="sidebar-item">
                    <label>Colors</label>
                    <br>
                    <br>
                    <div class="inline-form">
                        <label for="font-color-picker">Font:</label>
                        <input type="color" id="font-color-picker" value="#000000">
                    </div>
                </div>
                <div class="sidebar-item">
                    <div class="inline-form">
                        <label for="node-color-picker">Node:</label>
                        <input type="color" id="node-color-picker" value="#666666">
                    </div>
                </div>
                <div class="sidebar-item">
                    <div class="inline-form">
                        <label for="edge-color-picker">Edge:</label>
                        <input type="color" id="edge-color-picker" value="#cccccc">
                    </div>
                </div>
                <div class="sidebar-item">
                    <div class="inline-form">
                        <label for="bg-color-picker">Background:</label>
                        <input type="color" id="bg-color-picker" value="#f0f0f0">
                    </div>
                </div>
                <div class="sidebar-item">
                    <label for="style-select">Select pre-defined Style:</label>
                    <br>
                    <br>
                    <select id="style-select">
                        <option value="default">Default</option>
                        <option value="molecule">Molecule</option>
                        <option value="new">---</option>

                    </select>
                </div>              
            </div>
            <div class="file-export-container">
                <button class="btn-toggle" id="export-btn" aria-label="Export PNG"><i class="mdi mdi-image-check-outline"></i></button>

            </div>
        </aside>
        <main id="cy"></main>
    </div>
    <script src="cy.js" type="module"></script>
</body>
</html>
