body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 15px 0;
    background-color: #e4e7c4;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.file-input-container,
.expression-toggle-container,
.expression-container,
.file-export-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.expression-container {
    display: none;
}

#container {
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    overflow: hidden;
}

#sidebar {
    width: 300px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.details-container {
    padding: 10px; /* Increased padding for better readability */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.details-container h4 {
    margin: 0 0 10px; /* Add some margin below the heading for spacing */
}

.details-content {
    text-align: left; /* Align the content to the left */
}

#menu-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
}

#menu-btn {
    background-color: #0056b3;
}

.configurations {
    display: none;
}

.sidebar-item {
    margin-top: 10px;
}

.layout-icon-group {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    cursor: pointer;
}
.node-icon-group {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    cursor: pointer;
}

#cy {
    flex-grow: 1;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;
}

.node-search-container {
    display: flex;
    gap: 5px;
}

#node-search-input {
    padding: 5px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#node-search-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
}

#node-search-btn {
    background-color: #0056b3;
}

input[type="file"],
select,
input[type="range"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
}

button {
    background-color: #0056b3;
}

label {
    margin-right: 10px;
}

input[type="radio"] + span {
    margin-right: 10px;
}

input[type="radio"] + span {
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/*  */
/* h1 {
    margin: 0;
    font-size: 24px;
} */

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    /* background-color: #ccc; */
    background-color: #e4e7c4;
}


.node-size-toggle-btn {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.on {
    background-color: #ccc;
    color: #000;
}

.off {
    background-color: #ccc;
    color: #000;
}

.selected {
    background-color: #007bff;
    color: #fff;
}


